.header{
    padding: 1.5rem 3rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.login-btn {
    background-color: #5D37F3;
    border: none;
    border-radius: 0.5rem;
    color: #FFFFFF;
    padding: 0.75rem 1.25rem;
    font-weight: bold;
    cursor: pointer;
}
.banner {
    font-size: 2rem;
    color: #1A1A1F;
    font-weight: 700;
    line-height: 2rem;
    background-color: #F3F2FA;
    text-align: center;
    align-items: center;
    padding: 2rem 3.5rem;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #cfced8;
}
.category-list-wrapper {
    background-color: #F3F2FA;
    padding: 1rem 0 2rem 0;
}
.category-list {
    margin: auto;
    width: 43rem;
    display: flex;
    gap: 1.5rem;
    overflow: hidden;
}
.category-btn {
    border: none;
    color: white;
    border-radius: 0.5rem;
    padding: 0 0.75rem;
    cursor: pointer;
}
.blog-list {
    background-color: #F3F2FA;;
}
.login {
    padding: 2.5rem 1.5rem;
    border-radius: 0.75rem;
    background-color: white;
    width: 30rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login h1 {
    font-weight: 700;
    font-size: 1.75rem;
}
.email-input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}
.email-input-container p {
    line-height: 1.25rem;
    font-size: 0.875rem;
    color: #1A1A1F;
    font-weight: bold;
}
.invalid-input {
    font-size: 1rem;
    border: 2px solid #EA1919;
    padding: 0.75rem 0.5rem;
    border-radius: 0.75rem;
    background-color: #F7F7FF;

}
.invalid-input:focus {
    outline: #EA1919;
    border: 2px solid #EA1919;
}
.default-input {
    font-size: 1rem;
    border: 2px solid #E4E3EB;
    padding: 0.75rem 0.5rem;
    border-radius: 0.75rem;
}
.default-input:focus {
    outline: #5D37F3;
    border: 2px solid #5D37F3;
    background-color: #F7F7FF;
}
.x-button {
    font-size: 1.5rem;
    position: absolute;
    right: 3%;
    top: 3%;
    cursor: pointer;
}
.invalid-input-info {
    display: flex;
    line-height: 1.25rem;
    gap: 0.5rem;
    color: red;
}
.login-success {
    text-align: center;
    font-size: 1.25rem;
    padding: 3rem 0;
}
.login-success img {
    padding-bottom: 1rem;
}